<footer>
  <div id="app-footer-container" class="container-fluid">
    <div class="footer-content">
      
    </div>
  <div>
 <script type="text/javascript" src="/javascript/main.js"></script>
  <script type="text/javascript" src="/visualize/three.min.js"></script>
  <script type="text/javascript" src="/visualize/orbitControls.js"></script>
  <script type="text/javascript" src="/visualize/visualizer2.js"></script>
  <script type="text/javascript" src="/visualize/audio.js"></script>
</footer>
