<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="margin-left:0;margin-right:0;width:100vw;">
<style>
  .hidden{
    display:none;
  }

.no-margin,.no-margins,.margin-none{
  margin-left:0 !important;
  margin-right:0 !important;

}
  </style>
