<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="/js/all.min.js"></script>
  </head>
  <body>
    <% include partials/page/nav %>
    <div id="app-body" class="container-fluid"></div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.min.js"></script>
      <script type="text/javascript" src="/visualize/three.min.js"></script>
      <script type="text/javascript" src="/visualize/orbitControls.js"></script>
      <script type="text/javascript" src="/visualize/visualizerOne.js"></script>
      <script type="text/javascript" src="/visualize/audio.js"></script>
      <script type="text/javascript" src="/javascript/main.js"></script>

  </body>
</html>
