<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/all.min.js"></script>
  </head>
  <body>
    <% include partials/nav %>
    <div id="app-body" class="container-fluid no-margin">
      <div class="row-fluid">
        <span id="spotify-playlist" class="a-side col-xs-3">
          
        </span>
        <span id="canvas-container" class="content">

        </span>
      </div>

    
    </div>

    <% include partials/footer %>

  </body>
</html>
