
  <% include partials/head %>
  <% include partials/nav %>
  <% include partials/album %>
  <div id="app-body" class="container-fluid no-margin">
    <div class="row-fluid">
          <div id="spotify-playlist" class="a-side col-xs-3">
          </div>
          <div id="canvas-container" class="content col-xs-9">
          </div>
      </div>
    </div>
 <% include partials/footer %>
<script>
    if($('#spotify-playlist').children().length === 1 ){
      $('.sign-link').toggleClass('hidden');
    }
    flickrSearch(encodeURI('superbad'));
    flickrSrcArray(encodeURI('superbad'));
</script>
</body>
</html>
