<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<style>
  .hidden{
    display:none;
  }

  </style>

  <% include partials/nav %>
<div id="wrapper" class="img-container hidden" style="position:absolute;width:100vw;max-width:100vw;top:0;left:0;z-index:-1;pointer-events:none;"> <div id="columns">
   
 </div> 
</div>
  <div id="app-body" class="container-fluid no-margin">
    <div class="row-fluid">
          <div id="spotify-playlist" class="a-side col-xs-3">
          </div>
          <div id="canvas-container" class="content col-xs-9">
          </div>
      </div>
    </div>
 <% include partials/footer %>
<script>
    if($('#spotify-playlist').children().length === 1 ){
      $('.sign-link').toggleClass('hidden');
    }
</script>
</body>
</html>
