doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    body.container
      block content
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.0.0.min.js')
      script(type='text/javascript', src='/visualize/three.min.js')
      script(type='text/javascript', src='/visualize/orbitControls.js')
      script(type='text/javascript', src='/visualize/visualizerOne.js')
      script(type='text/javascript', src='/visualize/audio.js')
      script(type='text/javascript', src='/javascript/main.js')
