doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.1.0.min.js')
    script(type='text/javascript', src='/visualize/three.js')
  body
    block content
    script(type='text/javascript', src='/javascript/main.js')
