* {
	margin: 0;
	padding: 0;
}

body{
	background: -moz-radial-gradient(center, circle cover,  #ffffff 10%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, circle cover,  #ffffff 10%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, circle cover,  #ffffff 10%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, circle cover,  #ffffff 10%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(circle at center,  #ffffff 10%,#e5e5e5 100%); /* W3C */
	cursor: default;
	overflow: hidden;
	color: #000;
	font-size: 1.4em;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 0px 5px #333;
}

canvas{
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 5px;
	text-align: right;
}

#info a, #blog a {
	color: inherit;
	text-decoration: inherit;
}

#info a:hover, #blog a:hover {
	text-decoration: underline;
}

#info div {
	padding: 0 5px;
	display: inline-block;
}

#info div img {
	position: relative;
	top: 9px;
	border-radius: 3px;
}

#info #artist {
	margin-right: 5px;
}

#info #artist .name {
	font-size: 0.8em;
}

#info #artist .song {

}

#play {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

#play_link {
	position: fixed;
	top: 0;
	left: 0;
	height: 64px;
	width: 64px;
	background: url('../images/play.png') left center no-repeat transparent;
	cursor: pointer;
}

#blog {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 5px;
}
body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
	width: 100%;
	min-width: 800px;
	margin: 0 auto;
}

#columns {
	-webkit-column-count: 7;
	-webkit-column-gap: 1px;
	-webkit-column-fill: auto;
	-moz-column-count: 7;
	-moz-column-gap: 1px;
	-moz-column-fill: auto;
	column-count: 7;
	column-gap: 1px;
	column-fill: auto;
}

.jigga {
	display: inline-block;
	background: #FEFEFE;
	/*border: 2px solid #FAFAFA;*/
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	/*margin: 0 2px 1px;*/
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 5px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.jigga img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	/*margin-bottom: 5px;*/
}

.jigga p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .jigga:not(:hover) {
	opacity: 0.4;
}